.Timer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1em 1em;
  gap: 0.5em;
}

.Timer > div > .title {
  padding-bottom: 0em;
}

.Speaker-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 40em;
  gap: 0.5em;
}
