.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75em;
  background-color: #e0e0e0;
  padding: 0 1em;
}

.Header-text {
  font-size: 2rem;
  font-weight: 700;
}

.Header-menu {
  width: 1.5em;
  height: 1.5em;
}
